body{
    background:#000;
    width:100%;
    height:100%;
}

section#header{
    width:100%;
    height: 100%;
    background-image: url("http://i66.tinypic.com/2qlcpea.jpg");
    background-size: cover;
    position: relative;
}


#top-header{
    background: transparent;
    font-family: 'verdana';
    padding-top: 20px;
    width: 100%;
    text-align: center;
    border: none;
}


.navbar-inverse .navbar-header{
    background-color:#28365C;
}

.navbar-inverse .navbar-brand{
    color:#fff;
    font-family:'tahoma';
    font-size:20px;
    position: relative;
    top: 15px;
    margin-left:15px;!important

}
.navbar-brand{
    padding: 0 0 0 0;
    float: none;
}

.navbar-inverse .navbar-collapse{
    background-color: #28365C;
}

.navbar-inverse{
    background-color:#28365C;
}

.navbar-btn{
    margin-right:5px;
}

section#header #top-header{
    height:780px;
}
section#header #top-header h3{
    font-size: 60px;
    font-family: 'Fira Sans','sans-serif';
    text-align:center;
    color:#fff;
    position:relative;
    top:25%;
    text-shadow: 0 0 20px #000;
}
section#header #top-header h4{
    font-size:22px;
    text-align:center;
    color:#fff;
    position:relative;
    top:25%;
    padding:0 150px;
    text-shadow: 0 0 30px #000;
    font-family: 'concert one', cursive;
    margin-top:40px;
}
#top-header a{
      font-size: 80px!important;
}

#top-header p{
    font-size: 25px;
    padding: 0 100px;
}
input#scroll.get-started{
    background-color:#d7d7d7;
    color:#121212;
    border-radius:5px;
    position:relative;
    left: 43%;
    display:block;
    top: 28%;
    padding:12px 24px;
    font-family:'tahoma';
    font-weight:600;
    font-size:20px;
    margin-top:40px;
}

#number-transfers-nd {
   font-size: 53px;
}

#total-transfers-nd{
    font-size:53px;
}
.chart-wrapper{

    background-color:#2a6496;
    font-weight:normal;

}

.chart-title{
    font-family:'fira sans', 'sans serif';
    font-weight:600;
    color:#121212;
    font-size:15px;
    background-color:#fff;
    opacity:0.94;

}


#intro_button{
    margin-top:15px;
    margin-right:10px;
}

.small.text-muted{
   color:#fff;
    font-weight:600;
    margin-left:30px;
    font-family: sans-serif;
    font-size:16px;
}

#transfer-type-chart{
   margin-left:20px;
}



.dc-chart g.row text {
   fill: white;
   font-size: 12px;
}
#loading{
    z-index: 1000;
    background: linear-gradient(20deg, blue, black);
    color: white;
    position:fixed;
    height: 100%;
    width: 100%;
    text-align:center;
    font-weight: bold;
    left: 0;
    padding-top: 15%;

}
#total-projects {
   background: #33CC99;
   width: 200px;
   position: relative;
   height: 60px;
   font-size: 29px;
   color: white;
   vertical-align: middle;
   text-align: center;
   padding-top: 12px;
   padding-bottom: 0;
}

#net-donations {
   background: #33CC99;
   width: 200px;
   position: relative;
   height: 60px;
   font-size: 29px;
   color: white;
   vertical-align: middle;
   text-align: center;
   padding-top: 12px;
   padding-bottom: 0;
}

.trans{
    background-color:#28365C;
    opacity:0.94;
}
.col-spacing{
    margin-top:80px;
}

.dc-select-menu {
   background: #eee;
   width: 100%;
   border: 1px solid #bbb;
   position: relative;
   height: 31px;
   font-size: 15px;
   color: #121212;
   vertical-align: middle;
   text-align: center;
   padding-top: 4px;
   padding-bottom: 0;

}
button.reset-btn{
    color:#fff;
    position:relative;
    left:41%;
    font-size:20px;
    background-color:#263356;
    margin:0;
    border:none;
    border-radius:3px;
    padding:10px 15px;
    text-align:center;
    text-decoration:none;
}

button.reset-btn img{
    position:relative;
    top:-4px;
}

button.guide-btn{
    color:#fff;
    position:relative;
    left:38%;
    font-size:20px;
    border:none;
    border-radius:3px;
    background-color:#263356;
    padding:10px 15px;
    margin:0;
    text-align:center;
    text-decoration:none;
}


@media screen and (max-width: 680px){
    .get-started{
         left: 41%;

    }
    .guide-btn{
        left:34%;
    }

    .reset-btn{
        left:38%;
    }

    #window-chart{
    margin-left:0;
}

}
@media screen and (max-device-width: 767px){
    .navbar-inverse .navbar-brand{
        font-size:18px;
        width:75%;
    }

}

@media screen and (max-device-width: 1200px){
    .col-spacing{
       margin-top:10px;
   }

}