body{
    background:#eee;
background-size:cover;}

section#header{

    width:100%;
    height: 90%;
    background-image: url("https://i.pinimg.com/originals/a0/0c/0a/a00c0aba97639eba087968a516c53008.jpg"),linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5));
    background-size: cover;
    position: relative;
}

#top-header{
    background: transparent;
    font-family: 'verdana';
    padding-top: 20px;
    width: 100%;
    text-align: center;
    border: none;
}

.navbar-brand{
    width: 100%;
    text-align: center;
    padding: 0 0 0 0;
    float: none;
}
#top-header a{
      font-size: 80px!important;
}

#top-header p{
    font-size: 25px;
    padding: 0 100px;
}

#number-transfers-nd {
   font-size: 53px;
}

#total-transfers-nd {
   font-size: 53px;
}

.chart-wrapper{
    border:2px solid #fff;
}

.chart-title{

    font-weight:600;
}

#intro_button{
    margin-top:15px;
    margin-right:10px;
}

.navbar-brand{
    color:#fff;
}

.small.text-muted{
   color:#fff;
   font-size:15px;
}
.reset {
    float: right;
    margin-top:15px;
}

#window-chart{
   margin-left:60px;
}

#transfer-type-chart{
   margin-left:20px;
}


.dc-chart g.row text {
   fill: black;
   font-size: 12px;
}

#total-projects {
   background: #33CC99;
   width: 200px;
   position: relative;
   height: 60px;
   font-size: 29px;
   color: white;
   vertical-align: middle;
   text-align: center;
   padding-top: 12px;
   padding-bottom: 0;
}

#net-donations {
   background: #33CC99;
   width: 200px;
   position: relative;
   height: 60px;
   font-size: 29px;
   color: white;
   vertical-align: middle;
   text-align: center;
   padding-top: 12px;
   padding-bottom: 0;
}

.trans{
    background-color:#fff;
    opacity:0.94;
}

.chart-title{
    background-color:#fff;
    opacity:0.94;
}


.dc-select-menu {
   background: #eee;
   width: 100%;
   border: 1px solid #bbb;
   position: relative;
   height: 31px;
   font-size: 15px;
   color: #666;
   vertical-align: middle;
   text-align: center;
   padding-top: 4px;
   padding-bottom: 0;

}