body{
    background:url('http://media.operationsports.com/shots/1370918023-media.jpg');
background-size:cover;}

#number-transfers-nd {
   font-size: 53px;
}

#total-transfers-nd {
   font-size: 53px;
}

.chart-title{

    font-weight:600;
}

#intro_button{
    margin-top:15px;
    margin-right:10px;
}

.navbar-brand{
    color:#fff;
}

.small.text-muted{
   color:#fff;
   font-size:15px;
}
.reset {
    float: right;
    margin-top:15px;
}

#window-chart{
   margin-left:60px;
}

#transfer-type-chart{
   margin-left:20px;
}


.dc-chart g.row text {
   fill: black;
   font-size: 12px;
}

#total-projects {
   background: #33CC99;
   width: 200px;
   position: relative;
   height: 60px;
   font-size: 29px;
   color: white;
   vertical-align: middle;
   text-align: center;
   padding-top: 12px;
   padding-bottom: 0;
}

#net-donations {
   background: #33CC99;
   width: 200px;
   position: relative;
   height: 60px;
   font-size: 29px;
   color: white;
   vertical-align: middle;
   text-align: center;
   padding-top: 12px;
   padding-bottom: 0;
}

.trans{
    background-color:#fff;
    opacity:0.94;
}

.chart-title{
    background-color:#fff;
    opacity:0.94;
}


.dc-select-menu {
   background: #eee;
   width: 100%;
   border: 1px solid #bbb;
   position: relative;
   height: 31px;
   font-size: 15px;
   color: #666;
   vertical-align: middle;
   text-align: center;
   padding-top: 4px;
   padding-bottom: 0;

}