<!DOCTYPE html>
<html>

<head>
    <meta charset="UTF-8" name="viewport" content="width=device-width, initial-scale=1">
    <title>Football Transfers Dashboard</title>
    <link rel="stylesheet" href="{{ url_for ('static',
    filename='lib/css/bootstrap.min.css')}}">
    <link rel="stylesheet" href="{{ url_for ('static',
    filename='lib/css/keen-dashboards.css')}}">
    <link rel="stylesheet" href="/static/lib/css/introjs.css">
    <link rel="shortcut icon" href="/static/imgs/favicon.ico" type="image/x-icon">
    <link rel="stylesheet" href="{{ url_for ('static', filename='lib/css/dc.css')}}">
    <link rel="stylesheet" href="{{ url_for ('static', filename='css/custom.css')}}">
    <link href="https://fonts.googleapis.com/css?family=Droid+Sans" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Concert+One|Fira+Sans:700|Signika:700" rel="stylesheet">
</head>

<body>
<div class="navbar navbar-inverse navbar-fixed-top hidden-md hidden-lg" role="navigation">
    <div class="container">
        <div class="navbar-header hidden-md hidden-lg">
            <button type="button" class="navbar-toggle collapsed hidden-md hidden-lg" data-toggle="collapse" data-target="#nav-menu"
                    aria-expanded="false">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <div class="navbar-brand hidden-md hidden-lg">
                Football Transfers Dashboard


            </div>
        </div>
        <div class="collapse navbar-collapse hidden-md hidden-lg" id="nav-menu">
            <p class="navbar-nav pull-right">

                <button class="intro_button btn btn-primary navbar-btn" type="button" autofocus
                        onclick="introJs().start();">User Guide
                </button>
                <button class="btn btn-primary reset navbar-btn"
                        onclick="dc.filterAll();dc.renderAll();">Reset All
                </button>
            </p>
        </div>
    </div>
</div>
    <section id="header" class="hidden-xs hidden-sm">
        <div id="top-header" class="hidden-xs hidden-sm" role="navigation">
            <h3>Football Transfers Dashboard</h3>
            <h4>The number one source for football transfer data and statistics across the world's top leagues. Want to know which leagues spend the most on transfers? Which positions are the most transferred or which transfer window is the most popular? If so, you're in the right place!</h4>
            <input type="button" value="Get Started" id="scroll" class="get-started"/>
        </div>
    </section>

    <div class="dash-header hidden-xs hidden-sm">
        <div class="col-lg-12 col-md-12 col-sm-12">
            <button type="button" class="guide-btn" onclick="introJs().start();">User Guide</button>
            <button type="button" class="reset-btn" onclick="dc.filterAll();dc.renderAll();"><img src="http://i67.tinypic.com/qn7cde.png" height="20" width="20"> Reset All</button>
        </div>
    </div>
    <div class="container">
        <div class="row">
            <div class="col-lg-3 col-md-3"></div>
            <div class="col-lg-6 col-md-6" id="intro-step-1" data-step="1" data-intro="<h3>Welcome to the Football Transfers Dashboard</h3><hr><p>The dashboard displays data on all transfers between clubs within the world's major football leagues between 2010 and 2017. The dataset FB_Transfers12345.csv was downloaded from https://www.kaggle.com/hugomathien/soccer.</p>" data-disable-interaction="true" data-position="bottom" style="font-weight:normal;"></div>
            <div class="col-lg-3 col-md-3"></div>
        </div>
    </div>
    <div class="col-lg-8 col-xs-12" style="margin-top:80px;">
        <!-- Select League -->
        <div class="row">
            <div class="col-sm-3 col-xs-6">
                <div class="chart-wrapper trans" data-step="2" data-intro="Dropdown menu allowing the user to choose any(or all) Leagues. Selectable leagues include only top tier leagues" data-position="bottom">
                    <div class="chart-title">
                        Select League
                    </div>
                    <div class="chart-stage">
                        <div id="menu-select"></div>
                    </div>
                </div>
            </div>
            <!-- Value of Transfers -->
            <div class="col-sm-6 col-xs-12">
                <div class="chart-wrapper trans" data-step="3" data-intro="This figure represents the total amount spent on transfers (USD)." data-position="bottom">
                    <div class="chart-title">
                        Total Transfer Fees in USD
                    </div>
                    <div class="chart-stage" style="color:#fff;">
                        <div id="total-transfers-nd"></div>
                    </div>
                </div>
            </div>
            <!-- Number of Transfers -->
            <div class="col-sm-3 col-xs-6">
                <div class="chart-wrapper trans" data-step="4" data-intro="Represents the total number of transfers that have occurred in the stated time period" data-position="bottom">
                    <div class="chart-title">
                        Total Transfers
                    </div>
                    <div class="chart-stage" style="
                   position: relative;
                   font-size: 29px;
                   color: #fff;
                   vertical-align: middle;
                   text-align: center;
                   padding-top: 8px;
                   padding-bottom: 0;">
                        <div id="number-transfers-nd"></div>
                    </div>
                </div>
            </div>
        </div>
        <!-- Number of Transfers per Season -->
        <div class="col-lg-12">
            <div class="row">
                <div class="chart-wrapper trans" data-step="5" data-intro="A line chart which shows the total number of transfers that have been completed per season" data-position="top">
                    <div class="chart-title">
                        Total Transfers per Season
                    </div>
                    <div class="chart-stage">
                        <div id="year_appearance">
                        </div>
                    </div>
                </div>
            </div>
            <!-- Value of Transfers per Season -->
            <div class="row">
                <div class="chart-wrapper trans" data-step="6" data-intro="A line chart which shows the total value of transfers that have been completed per season" data-position="top">
                    <div class="chart-title">
                        Total Value of Transfers per Season
                    </div>
                    <div class="chart-stage">
                        <div id="donation-value-line-chart"></div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- Transfer Window Pie Chart -->
    <div class="col-lg-4 col-xs-12" style="margin-top:80px;">
        <div class="row">
            <div class="col-sm-6 col-lg-12">
                <div class="chart-wrapper trans" data-step="7" data-intro="A pie chart that shows which transfer window transfers have been completed during." data-position="bottom">
                    <div class="chart-title">
                        Transfer Window
                    </div>
                    <div class="chart-stage">
                        <div id="window-chart"></div>
                    </div>
                </div>
            </div>
            <!-- Transfer Type Pie Chart -->
            <div class="col-sm-6 col-lg-12">
                <div class="chart-wrapper trans" data-step="8" data-intro="Another pie chart showing the type of transfer that was completed. The chart illustrates whether a transfer was a sale, a loan, a free transfer or if the sale fee was undisclosed" data-position="top">
                    <div class="chart-title">
                        Transfer Type
                    </div>
                    <div class="chart-stage">
                        <div id="transfer-type-chart"></div>
                    </div>
                </div>
            </div>
            <!-- Player Position Row Chart -->
            <div class="col-sm-6 col-lg-12">
                <div class="chart-wrapper trans" data-step="9" data-intro="A row chart that shows the position of the transferred player." data-position="top">
                    <div class="chart-title">
                        Player Position
                    </div>
                    <div class="chart-stage">
                        <div id="player-position-row-chart"></div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <hr>
    <div class="small text-muted"> Data Visualization by Ed Stack for Code Institute</div>
    <script src="{{ url_for ('static', filename='lib/js/jquery-3.2.1.min.js')}}"></script>
    <script src="{{ url_for ('static', filename='lib/js/bootstrap.min.js')}}"></script>
    <script src="{{ url_for ('static', filename='lib/js/crossfilter.js')}}"></script>
    <script src="{{ url_for ('static', filename='lib/js/d3.js')}}"></script>
    <script src="{{ url_for ('static', filename='lib/js/dc.js')}}"></script>
    <script src="{{ url_for ('static', filename='lib/js/queue.js')}}"></script>
    <script src="{{ url_for ('static', filename='lib/js/keen.min.js')}}"></script>
    <script src="{{ url_for ('static', filename='js/graph.js')}}"></script>
    <script src="{{ url_for ('static', filename='js/scroll.js')}}"></script>
    <script src="/static/lib/js/intro.js"></script>
</body>

</html>