<!DOCTYPE html>
<html>
<head>
  <title>Football Transfers Dashboard</title>
  <link rel="stylesheet" href="{{ url_for ('static',
    filename='lib/css/bootstrap.min.css')}}">
  <link rel="stylesheet" href="{{ url_for ('static',
    filename='lib/css/keen-dashboards.css')}}">
    <link rel="stylesheet" href="/static/lib/css/introjs.css">
  <link rel="stylesheet" href="{{ url_for ('static', filename='lib/css/dc.css')}}">
  <link rel="stylesheet" href="{{ url_for ('static', filename='css/custom.css')}}">
</head>
<body>
  <div class="navbar navbar-inverse navbar-fixed-top" role="navigation">
    <div class="container">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#nav-menu"
                    aria-expanded="false">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <div class="navbar-brand" id="navbar-brand-states-combined" style="color:#fff; margin-top:10px;">
                Worldwide Soccer Transfers 2007-2017
            </div>
        </div>
        <div class="collapse navbar-collapse" id="nav-menu">
            <p class="navbar-nav pull-right">



                <button class="btn btn-info" id="intro_button" type="button" autofocus onclick="introJs().start();">Start Tour!</button>
                <button class="btn btn-primary reset navbar-btn" style="color:#fff;"
                        onclick="dc.filterAll();dc.renderAll();">Reset All
                </button>
            </p>
        </div>
    </div>
</div>
  <div  id="outer" class="container-fluid">
    <div class="row">


          <!-- Time Chart -->



            <div class="col-lg-8 col-xs-12" style="margin-top:80px;">
                <div class="row">

                    <div class="col-sm-3 col-xs-12">

           <div class="chart-wrapper" data-step="1" data-intro="Dropdown menu allowing the user to choose any(or all) Leagues" data-position="bottom" style="font-weight:normal">
               <div class="chart-title">
                   Select League
               </div>
               <div class="chart-stage">
                   <div id="menu-select"></div>
               </div>
           </div>
        </div>
                        <div class="col-sm-6">
                    <div class="chart-wrapper" data-step="8" data-intro="Value of transfers for the selected state in USD" data-position="top" style="font-weight:normal">
                        <div class="chart-title">
                            Total Transfer Fees in Euro
                        </div>
                        <div class="chart-stage">
                            <div id="total-transfers-nd"></div>
                        </div>
                    </div>
                </div>

            <div class="col-sm-3">
           <div class="chart-wrapper" data-step="7" data-intro="Total donations of selected state" data-position="top" style="font-weight:normal">
               <div class="chart-title">
                   Total Number of Transfers
               </div>
               <div class="chart-stage" style=" background: #fff;
                   position: relative;
                   font-size: 29px;
                   color: #333;
                   vertical-align: middle;
                   text-align: center;
                   padding-top: 8px;
                   padding-bottom: 0;">
                   <div id="number-transfers-nd"></div>
               </div>
           </div>
        </div>
                    </div>
            <!-- Time Chart -->


                    <div class="col-lg-12">
                        <div class="row">

               <div class="chart-wrapper" data-step="7" data-intro="Total donations of selected state" data-position="top" style="font-weight:normal">
                    <div class="chart-stage">
                        <div id="year_appearance">
                        </div>
                    </div>
               </div>
                        </div>

                        <div class="row">


                   <div class="chart-wrapper" data-step="8" data-intro="Total donations of selected state" data-position="top" style="font-weight:normal">
                   <div class="chart-stage">
                            <div id="donation-value-line-chart"></div>
                        </div>
                   </div>
                            </div>







                </div>
            </div>


            <!-- Time Chart -->


          <div class="col-lg-4 col-xs-12" style="margin-top:80px;">

            <div class="row">

          <div class="col-sm-6 col-lg-12">
            <div class="chart-wrapper">
              <div class="chart-title">
                Transfer Window
              </div>
              <div class="chart-stage">
                <div id="window-chart"></div>
              </div>
            </div>
          </div>

            <div class="col-sm-6 col-lg-12">
                   <div class="chart-wrapper" data-step="4" data-intro="A pie chart that shows primary focus subjects on which funding utilised." data-position="top" style="font-weight:normal">
                       <div class="chart-title">
                           Transfer Type
                       </div>
                       <div class="chart-stage">
                           <div id="transfer-type-chart"></div>
                       </div>
                   </div>
               </div>



            <div class="col-sm-6 col-lg-12">
                   <div class="chart-wrapper" data-step="5" data-intro="A row chart that shows the poverty level changes of schools according to funding" data-position="top" style="font-weight:normal">
                       <div class="chart-title">
                            Player Position
                       </div>
                       <div class="chart-stage">
                            <div id="player-position-row-chart"></div>
                       </div>
                   </div>
               </div>









        <!-- Time Chart -->
          <!-- funding Pie -->
        </div>
      </div>
    </div>


    </div>


      <!-- Poverty -->


      <!-- Poverty -->

      <!-- menu select -->

      <!-- menu select -->

      <!-- Metric 1 -->

      <!-- Metric 1 -->

      <!-- Metric 2 -->

      <!-- Metric 2 -->



  <hr>
  <p class="small text-muted" style="color:#fff; font-weight:600;margin-left:30px; font-family: sans-serif; font-size:16px;"> Data Visualization by Ed Stack for Code Institute</p>
  <script src="{{ url_for ('static', filename='lib/js/jquery.min.js')}}"></script>
  <script src="{{ url_for ('static', filename='lib/js/bootstrap.min.js')}}"></script>
  <script src="{{ url_for ('static', filename='lib/js/crossfilter.js')}}"></script>
  <script src="{{ url_for ('static', filename='lib/js/d3.js')}}"></script>
  <script src="{{ url_for ('static', filename='lib/js/dc.js')}}"></script>
  <script src="{{ url_for ('static', filename='lib/js/queue.js')}}"></script>
  <script src="{{ url_for ('static', filename='lib/js/keen.min.js')}}"></script>
  <script src="{{ url_for ('static', filename='js/graph.js')}}"></script>
<script src="/static/lib/js/intro.js"></script>

</body>
</html>